server:
  port: 80

spring:
  application:
    name: cloud-consumer-client-order80
  cloud:
    zookeeper:
      connect-string: 127.0.0.1:2181
#eureka:
#  client:
#    service-url:
#      defaultZone: http://eureka7001.com:7001/eureka/,http://eureka7002.com:7002/eureka/
#  instance:
#    instance-id: consumer-order-80