server:
  port: 8001

spring:
  application:
    name: cloud-payment-service
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: org.gjt.mm.mysql.Driver
    url: jdbc:mysql://localhost:3306/bts?serverTimezone=GMT%2B8&characterEncoding=UTF-8&useSSL=false
    username: wallet
    password: root

mybatis:
  type-aliases-package: com.fly.springcloud.entity
  mapper-locations: classpath:mapper/*.xml