server:
  port: 8001

spring:
  application:
    name: cloud-payment-service
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: org.gjt.mm.mysql.Driver
    url: jdbc:mysql://localhost:3306/bts?serverTimezone=GMT%2B8&characterEncoding=UTF-8&useSSL=false
    username: wallet
    password: root
  cloud:
    zookeeper:
      connect-string: 127.0.0.1:2181

mybatis:
  type-aliases-package: com.fly.springcloud.entity
  mapper-locations: classpath:mapper/*.xml

#eureka:
#  client:
#    service-url:
#      defaultZone: http://eureka7001.com:7001/eureka/,http://eureka7002.com:7002/eureka/
#  instance:
#    instance-id: provider-payment-8001